<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
<resource-ref> 
    <description>DB Connection</description> 
    <res-ref-name>jdbc/meeting</res-ref-name> 
    <res-type>javax.sql.DataSource</res-type> 
    <res-auth>Container</res-auth> 
</resource-ref>
	
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewAllDepartmentsServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.ViewAllDepartmentsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.ChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.ViewAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.ApproveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddDeleteDepartmentServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.AddDeleteDepartmentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchEmployeesServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.SearchEmployeesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewAllMeetingRoomsServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.ViewAllMeetingRoomsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MeetingRoomService</servlet-name>
    <servlet-class>com.Sajor.meeting.service.MeetingRoomService</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddDeleteMeetingRoomServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.AddDeleteMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.AddMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewOneMeetingRoomServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.ViewOneMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateMeetingRoomServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.UpdateMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BookMeetingServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.BookMeetingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RefreshRoomsServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.RefreshRoomsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectEmployeesOfDeptServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.SelectEmployeesOfDeptServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewMyBookingServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.ViewMyBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewMyBookingDetailServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.ViewMyBookingDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CancelMeetingServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.CancelMeetingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewMyMeetingsServlet</servlet-name>
    <servlet-class>com.Sajor.meeting.servlet.ViewMyMeetingsServlet</servlet-class>
  </servlet>
















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllDepartmentsServlet</servlet-name>
    <url-pattern>/ViewAllDepartmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <url-pattern>/ViewAllEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/ApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDeleteDepartmentServlet</servlet-name>
    <url-pattern>/AddDeleteDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchEmployeesServlet</servlet-name>
    <url-pattern>/SearchEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllMeetingRoomsServlet</servlet-name>
    <url-pattern>/ViewAllMeetingRoomsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MeetingRoomService</servlet-name>
    <url-pattern>/MeetingRoomService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDeleteMeetingRoomServlet</servlet-name>
    <url-pattern>/AddDeleteMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <url-pattern>/AddMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewOneMeetingRoomServlet</servlet-name>
    <url-pattern>/ViewOneMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMeetingRoomServlet</servlet-name>
    <url-pattern>/UpdateMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookMeetingServlet</servlet-name>
    <url-pattern>/BookMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefreshRoomsServlet</servlet-name>
    <url-pattern>/RefreshRoomsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectEmployeesOfDeptServlet</servlet-name>
    <url-pattern>/SelectEmployeesOfDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewMyBookingServlet</servlet-name>
    <url-pattern>/ViewMyBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewMyBookingDetailServlet</servlet-name>
    <url-pattern>/ViewMyBookingDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelMeetingServlet</servlet-name>
    <url-pattern>/CancelMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewMyMeetingsServlet</servlet-name>
    <url-pattern>/ViewMyMeetingsServlet</url-pattern>
  </servlet-mapping>

    <listener>  
    	<listener-class>com.Sajor.meeting.util.CounterListener</listener-class>  
	</listener>  
    <error-page>
        <error-code>404</error-code>
        <location>/notFound.jsp</location>
    </error-page>
    <session-config>
    	<session-timeout>1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.Sajor.meeting.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
    	<filter-name>EncodingFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.Sajor.meeting.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>LoginFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
